*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body{
    font-family: 'Barlow', sans-serif;
    background: #f8f8f8;
}
a{
    text-decoration: none;
}
.top{
    background: rgb(0 178 20);
}
/* Header */
header .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo img{
    width: 250px;
}
.header_search{
    border: 1px solid rgb(61, 184, 75);
}
.header_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 6px;
}
.header_search select {
    /* width: 50px; */
    width: auto;
    border: none;
    outline: none;
    padding: 10px 0px;
    border-right: 1px solid rgb(61, 184, 75);
}
.header_search input{
    caret-color: rgb(61, 184, 75);
    width: 90%;
    padding: 0 10px;
    border: none;
    background: none;
    outline: none;
}
.header_search button{
    border: none;
    padding: 10px 15px;
    color: white;
    background: rgb(61, 184, 75);
}
.header_cart a{
    color: rgb(61, 184, 75);
}
/* Category & Banner */
section .category ul{
    border-radius: 0;
}
section .category ul #active{
    color: white;
    background: rgb(61, 184, 75);
}
section .category ul li{
    transition: .2s;
}
section .category ul li a{
    color: black;
}
section .category ul li:hover{
    background: #f2f2f2;
    color: white;
}
/* New product */
.new_product h4{
    text-align: center;
    color: rgb(61, 184, 75);
}
/* Product */
.product{
    transition: .5s;
}
.product:hover{
    box-shadow: 0 0 10px #dadada;
}
.product_img{
    overflow: hidden;
}
.product_img img{
    transition: .5s;
}
.product_img img:hover{
    transform: scale(1.07);
}
.hotline{
    border: 2px dotted red;
    font-size: 15px;
    padding: 10px;
}
.thongtincuahang{
    border: 2px dotted blue;
    font-size: 15px;
    padding: 10px;
}